// Variables
$dark: #121212;
$gray: #919191;
$semibold: 600;

// Converting Adobe XD spacing value to CSS em value.
@function toEm($spacing){
  @return $spacing / 1000 * 1em;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.homeVideo{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9){
  .homeVideo{
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9){
  .homeVideo{
    width: auto;
    height: 100%;
  }
}
.nav{
  height: 15vh;
}

.nav-links{
  display: flex;
  float: right;
  list-style: none;
  height: 100%;
  align-items: center;
  background-color: transparent;
  background-position: 100% right;
  
}
.nav-links li a{
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
}
.logo{
  margin-left: 10px;
  width: 134px;
  height: 125px;
  position: fixed;
   z-index: 2;
}

.line{
  width: 50px;
  height: 5px;
  background-color: white;
  margin: 10px;
}
.hamburger{
  position: relative;
  cursor: pointer;
  float: right;
  z-index: 3;
  margin-top: 10px;
  margin-right: 5px;
}

.hamburger .line{
  transition: all .5s ease-in-out;
}

.hamburger.open .line:nth-child(1){
  transform: rotate(45deg) translate(15px,6px);
  box-shadow: none;
}

.hamburger.open .line:nth-child(3){
  transform: rotate(-45deg) translate(15px,-5px);
  box-shadow: none;
}

.hamburger.open .line:nth-child(2){
  transform: translate(-50px);
  background: transparent;
  box-shadow: none;
  transition: all .5s ease-in-out;
}

.triangle{
  position: absolute;
  width: 100%;
  margin-top: 94vh;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.triangleAnim{
  transition: 1s;
  margin-left: 50%;
}

@keyframes pulse{
  0% {margin-top: 94vh;}
  10% {margin-top: 94.2vh;}
  20% {margin-top: 94.4vh;}
  30% {margin-top: 94.6vh;}
  40% {margin-top: 94.8vh;}
  50% {margin-top: 95vh;}
  60% {margin-top: 94.8vh;}
  70% {margin-top: 94.6vh;}
  80% {margin-top: 94.4vh;}
  90% {margin-top: 94.2vh;}
  100% {margin-top: 94vh;}
}

@media screen and (max-width: 768px){
   .triangle{
    margin-left: 50%;
    animation-name: pulseMobile;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
   .triangleAnim{
    transition: 1s;
    transform: rotate(-90deg);
  }
  @keyframes pulseMobile{
    0% {margin-left: -2%;}
    10% {margin-left: -1.8%;}
    20% {margin-left: -1.6%;}
    30% {margin-left: -1.4%;}
    40% {margin-left: -1.2%;}
    50% {margin-left: -1%;}
    60% {margin-left: -1.2%;}
    70% {margin-left: -1.4%;}
    80% {margin-left: -1.6%;}
    90% {margin-left: -1.8%;}
    100% {margin-left: -2%;}
  }
}

.copyright{
  position: fixed;
  font-size: 20px;
  margin-top: 94vh;
  font-weight: bold;
  margin-left: 3%;
  color: #ACACB6;
}
.menu{
  margin-block-start: 0em;
    position: fixed;
    background: transparent;
    background-color: $dark;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    z-index: 1;
    clip-path: circle(100px at 99% -20%);
    -webkit-clip-path: circle(100px at 99% -20%);
    transition: all 1s ease-out;
}
.menu.open{
  clip-path: circle(3000px at 99% -20%);
  -webkit-clip-path: circle(3000px at 99% -20%);
}

.threeProjects{
  float: left;
  width: 28%;
  height: 100%;
}

.menuProject{
  height: calc(100%/3);
}

.firstImage{
  background-image: url("../Images/universe.jpg");
}
.secondImage{
  background-image: url("../Images/ac.jpg");
}
.thirdImage{
  background-image: url("../Images/shop.png");
}

.title{
  transition: all 0.35s ease-out;
  position: relative;
  opacity: 0;
  font-size: 1.4vw;
  letter-spacing: 20px;
  /*font-size: 25px;
  letter-spacing: toEm(220);*/
  font-weight: $semibold;
  text-shadow: 2px 2px black;
}

a{
  text-decoration: none;
}

.firstImage, .secondImage, .thirdImage {
  transition: .8s;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.firstImage:hover,.secondImage:hover, .thirdImage:hover{
  filter: none;
  -webkit-filter: grayscale(100%);
  transition: .8s;
}

.firstImage:hover .title, .secondImage:hover .title, .thirdImage:hover .title{
  color: white;
  opacity: 1;
  transform: translateY(10px);
  transition: all 0.35s ease-in-out;
}


.hamburger-links{
 margin: 0;
 position: absolute;
 top: 50%;
 -ms-transform: translateY(-50%);
 transform: translateY(-50%);
 margin-left: 5vw;
 font-size: 90px;
 letter-spacing: toEm(100);
 color: white;
 font-weight: bold;
 list-style: none;
}

.hamburger-main{
  display: inline-block;
  width: calc(100% - 28%);
  height: 92%;
}

.featured{
  position: relative;
  color: $gray;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: toEm(220);
  writing-mode: vertical-lr;
  margin-left: 1.5vw;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.menu-footer{
  width: calc(100% - 28%);
  float: right;
}

/* ------------------- ICONS ------------------- */
.fab{
  float: right;
  margin: 10px;
  transition: .3s;
  color:$gray;
  font-size: 5em;
}
.fa-github:hover{
  // background: -webkit-linear-gradient(-90deg, rgba(133,39,146,1) 0%, rgba(79,39,123,1) 100%);
  // -webkit-background-clip: text;
  // background-clip: text;
	// -webkit-text-fill-color: transparent;
  color: #852792;
}
.fa-youtube:hover{
 color: #C4302B;
}
.fa-discord:hover{
 color: #7289DA;
}

.menu-copyright{
  position: absolute;
  margin-left: 27px;
  margin-top: 50px;
  color: $gray;
  font-size: 20px;
  font-weight: $semibold;
}
.creators a{
  color: white;
  display: none;
}
.test:hover ~ .creators a{
  display: inherit;
}


@media screen and (max-width: 768px){
  .menu-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  }
  .hamburger-main{
    height: 70%;
  }
  .menu-copyright{
  //  margin-top: 30%;
  display: none;
  }
  .logo{
    width: 20%;
    height: auto;
  }
  .nav-links{
    opacity: 0;
  }
  .threeProjects{
    display: none;
  }
  .fab{
    font-size: 3em;
  }
  .hamburger-links{
    transition: .2s;
    font-size: 2.2rem;
    margin-left: 2vw;
    top: 35%;
  }
  .hamburger-links li{
    padding-top: 15px;
  }
  .featured{
    display: none;
  }
}

